:root {
	// Colours
	--cl-black: #111111;
	--cl-white: #ffffff;
	--cl-yellow: #F4D04E;
	--cl-grey: #7F7F7F;

	// Typography
	--ty-heading: 800 1.25rem/1.5 'Figtree', serif;
	--ty-body: 500 .875rem/1.5 'Figtree', serif;
	--ty-body-small: 500 .75rem/1.5 'Figtree', serif;
	--ty-body-small-bold: 800 .75rem/1.5 'Figtree', serif;

	@media (min-width: 60rem) {
		--ty-heading: 800 1.5rem/1.5 'Figtree', serif;
		--ty-body: 500 1rem/1.5 'Figtree', serif;
		--ty-body-small: 500 .875rem/1.5 'Figtree', serif;
		--ty-body-small-bold: 800 .875rem/1.5 'Figtree', serif;
	}
}